
<div class="col-lg-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Demo Details </h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-lg-4">
                <label> Name</label>
                <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="Enter FirstName" required="" />
            </div>
            <div class="form-group col-lg-4">
                <label>Middle Name</label>
                <input type="text" name="MiddleName" id="MiddleName" class="form-control" placeholder="Enter Middle Name" required="" />
            </div>
            <div class="form-group col-lg-4 ">
                <label>Surname</label>
                <input type="text" name="Surname" id="Surname" class="form-control" placeholder="Enter SurName" required="" />
            </div>
            <div class="clearfix"></div>
           
                   
                    <div class="form-group col-lg-8">
                        <div style="float: right">
                            <input value="Cancel" id="BtnCancel" class="btn btn-primary" type="button">
                            <input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button">
                        </div>
                    </div>
            </div>
        </div>
    </div>

<table id="tblDemo" class="table table-bordered table-striped table-responsive table-hover" >
    <thead>
        <tr>
            <th align="left" class="productth">ID</th>
            <th align="left" class="productth">FirstName</th>
            <th align="left" class="productth">MiddleName</th>
            <th align="left" class="productth">LastName</th>
       
        </tr>
    </thead>
    <tbody></tbody>
</table>




@section Scripts
{

<script type="text/javascript">
   
    $(function () {
        LoadData();
        $("#btnSave").click(function () {
            //alert();
            var demo = {};
            demo.FirstName = $("#FirstName").val(); // 
            demo.SurName = $("#Surname").val();
            demo.MiddleName = $("#MiddleName").val();
           
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create")', // Default.aspx is the page and SaveUser is the WebMethod to save data in database
                data: '{demo: ' + JSON.stringify(demo) + '}', 
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                   // alert("User has been added successfully.");
                    LoadData();
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
       
    });

    
    function LoadData() {

        $("#tblDemo tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDemos")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
               
                var items = '';
                $.each(data, function (i, item) {
                   
                    var rows = "<tr>"
                    + "<td class='prtoducttd'>" + item.ID + "</td>"
                    + "<td class='prtoducttd'>" + item.FirstName + "</td>"
                    + "<td class='prtoducttd'>" + item.MiddleName + "</td>"
                    + "<td class='prtoducttd'>" + item.SurName + "</td>"
                   
                    + "</tr>";
                    $('#tblDemo tbody').append(rows);
                });

            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;

    }
</script>  
}